@font-face {
  font-family: Poppins-Regular;
  src: url('../fuentes/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fuentes/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fuentes/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fuentes/poppins/Poppins-SemiBold.ttf'); 
}

*{
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}


input {
	outline: none;
	border: none;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

.fondo{
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: -30px;
}


/*-- contenedor del Login--*/

.container-login {
  margin-top: 30px;
  width: 100%;  
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(to right,rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), rgba(255, 0, 0, 0.548));
  background: linear-gradient(to right, rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), rgba(255, 0, 0, 0.548));
}


.wrap-login {
  width: 400px;
  background: #eceff1;
  border-radius: 20px;
  overflow: hidden;
  padding: 77px 55px 53px 55px;
  -webkit-box-shadow: 25px 40px 28px 0px rgba(0, 0, 0, 0.38);
 /* box-shadow: eje-x | eje-y | blur-radius | color */
}


/*----Formulario de usario y contraseña----*/

.login-form {
  width: 100%;
}

.login-form-title{
  display: block;
  font-family: Poppins-Bold;
  font-size: 25px;
  color: black;
  line-height: 1.5;
  text-align: center;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-family: Poppins-Regular ;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-efecto {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-efecto::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 4px; /*ancho de la linea que hace el efecto de barra de progeso en el input al hacer foco*/

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #04f8e4ee;
  background: -webkit-linear-gradient(left, rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), rgba(255, 0, 0, 0.548));
  background: -o-linear-gradient(left,  rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), rgba(255, 0, 0, 0.548));
  background: -moz-linear-gradient(left, rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), rgba(255, 0, 0, 0.548));
  background: linear-gradient(left, rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), rgba(255, 0, 0, 0.548));
}

.focus-efecto::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-efecto::after {
  top: -15px;
}

.input100:focus + .focus-efecto::before {
  width: 100%;
}

.has-val.input100 + .focus-efecto::after {
  top: -15px;
}

.has-val.input100 + .focus-efecto::before {
  width: 100%;
}

/*---------------------------------------------*/


/*------------------------------------------------------------------
[ Boton Tricolor ]*/
.container-login-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 40px 5px;
  overflow: hidden;
  margin: 0 auto;
}

.login-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: rgb(136, 1, 1);
  background: -webkit-linear-gradient(to right, rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548),rgba(0, 0, 255, 0.548), rgba(255, 0, 0, 0.548));
  background: -o-linear-gradient(to right, rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), rgba(255, 0, 0, 0.548), rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), blue);
  background: -moz-linear-gradient(to right, rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), rgba(255, 0, 0, 0.548), rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), blue);
  background: linear-gradient(to right, rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), rgba(255, 0, 0, 0.548),rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), rgba(255, 0, 0, 0.548));
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-form-btn {
  font-family: Poppins-Medium;
  font-size: 20px;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background: linear-gradient(to right, rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), rgba(255, 0, 0, 0.548));
  border-radius: 40px 5px;

}

.wrap-login-form-btn:hover .login-form-bgbtn {
  left: 0;
}


/*--- Para dispositivos small responsive ---*/

@media (max-width: 576px) {
  .container-login {
    padding: 77px 15px 33px 15px;
  }
}

.bloque{
  margin-top:200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 15%;
}


/*--- boton oscuro ---*/
.ked{
  width: auto;
  border-radius: 40px 5px; 
  background: rgba(0, 0, 0, 0.300); 
  box-shadow: 5px 5px 50px white; 
  font-family: Poppins-Medium; 
  font-size: 20px; 
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 50px;
}

/*--- Contenedor tricolor ---*/
.jes{
  background: -webkit-linear-gradient(left, rgba(255, 255, 0, 0.541),rgba(0, 0, 255, 0.548), rgba(255, 0, 0, 0.548));
  box-shadow: 4px 4px 60px black;
  border-radius: 30px;
  border: 2px;
}

/*--- Footer y navbar ---*/
.rio{
  background: white;
  box-shadow: 1px 1px 12px black;
  height: auto; 
}

.mar{
  width: 100%;
  height: auto;
  bottom: 0%;
  position: fixed;
  align-self: flex-end;


}

.ken{
  color: white;
  font-size: 23px;
  text-align: center;
  font-weight:bolder;
}

/*boton cuadrado*/
.paz{
  width: auto;  
  background: rgba(0, 0, 0, 0.300); 
  box-shadow: 2px 2px 20px white; 
  font-family: Poppins-Medium; 
  font-size: 1rem; 
  color: white;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  height: 50px;
  
}


/*Estilos Adelice*/


:root{
	--bg-white: rgba(255, 255, 255, 0.787);
	--bg-rojo: #dc3545;
	--bg-azul_claro: rgba(26, 146, 208, 0.830);
	--bg-azul_obscuro: rgba(29, 25, 74, 0.787);
	--bg-transparente: rgba(255, 255, 255, 0.1);
}


.body{

	-webkit-background-size: cover;
	font-family: sans-serif;
	margin: 0px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;

}

/*navbar-fijo-top*/
.navbar{
	top: 0;
    right: 0;
    left: 0;
	position: fixed;
    z-index: 1030;
    margin-top: 0;
	background-color: rgba(255, 255, 255, .99);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    flex-wrap: wrap;
    -webkit-box-align: center;

    align-items: center;
    -webkit-box-pack: justify;

    justify-content: space-between;
    padding: .5rem 1rem;
}

.logo{
	height: 60px;
	margin-top: 0px;
	text-align: center;
}


/*marquesina*/
marquee{
	color: white;
	font-weight: bold;
	font-size: 25px;
}

/*.container{
    
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
    display: block;
}*/
/*contenedor*/
.container-fluid{

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	background-color: rgba(255, 255, 255, 0.1);

}








 
ody {background:#fefefe;}
 
.menu_bar {
	display:none;
}
 
header {
	width: 100%;
}
 
header nav {
	background:#023859;
	z-index:1030;
	max-width: 100%;
	width:100%;
	margin:30px auto;
    margin-top: 100px;
}
 
header nav ul {
	list-style:none;
    
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background:#E6344A;
}
 
header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 10px;
    margin-top: 20px;
    font-size: 20px;
}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .children {
	display:block;
}
 
header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1030;
}
 
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
	display: block;
}
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
 

#icon{
    height: 25px;
    margin-right: 20px;
    float: right;
    
}

#icon:hover{
   box-shadow: 0px 0px 3px 3px white;
}
@media screen and (max-width: 800px) {
	body {
		padding-top:100px;
	}
 
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:10;
		background:#E6344A;
        z-index:1030;
	}
 
	.menu_bar .bt-menu {
		display: block;
		text-align: left;
		padding: 10px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
        margin-top: 10px;
		text-decoration: none;
       z-index:1030;
	}
 
	.menu_bar span {
		float: right;
		font-size: 40px;
        
	}
 
	.main2{
		margin-top: 0px;
        position: fixed;
        z-index:1030;
	}
	nav{
		margin-top: 200px;
	}
	header nav {
		width: 89%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin-top: 60px;
		padding: 10px;
		overflow: scroll;
	}
 
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
 
	header nav ul li a {
		display: block;
	}
 
	header nav ul li:hover .children {
		display: none;
	}
 
	header nav ul li .children {
		width: 100%;
		position: relative;
	}
 
	header nav ul li .children li a {
		margin-left:0px;
	}
 
	header nav ul li .caret {
		float: right;
	}
}

